@import "tailwindcss";

@theme {
  --color-ocean: #141E30;
  --color-panel: #050A14;
  --color-text-primary: #D1D5DB;
  --color-point: #C1121F;
  --color-btn: #0077B6;
  --color-btn-hover: #0096C7;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
