# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# IDE
.idea/
.vscode/

# Docker volumes
postgres_data/
*.jpg
*.png
*.pth
*.txt
*.jpg
*.Identifier
*.webp
*.cache
*.csv
*.pt
*.yaml
yolov8_ship_det_satellite/